name: C02 Emission Pipeline

on:
  push:
  branches: ["main"]
jobs:
  build-and-train: 
  runs-on: ubuntu-latest

  steps:
  - name: Check out repository code
      uses: actions/checkout@v4

      - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.9'

        - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
- name: Run Machine Learning Pipeline
      run: python Pipeline.py

      - name: Upload Model Artifact
      uses: actions/upload-artifact@v4
      with:
        name: mein-fertiges-modell
        path: "*.joblib"
