name: ML Pipeline

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build-and-run:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install Libraries
        working-directory: "Projektarbeit/3_PIPELINE"
        run: |
          pip install -r requirements.txt

      - name: Run Script
        run: python pipeline.py
